body{
    background-color: #F5F8FF;
    margin: 0;
    padding: 0;
}
.header{
    background-image: url(../Assets/Hero-bg.png);
    width: 100%;
    height: 698px;
}
.nav{
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px;
}
.banner-div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 158px auto 0;
}
.banner-div h1{

    text-align: center;
}
.banner-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
main .action-div{
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 80px auto 60px;
}
.action-left-div p{
    margin: 23px 0px 23px;
    font-weight: 400;
    font-size: 24px;
}
.action-div-img{
    width: 403px;
    height: 328px;
    border-radius: 48px;
}

/* Productive Users Style */
.productive-users{
    max-width: 1140px;
    margin: 100px auto;
    background-color: #e5e7ff;
    border-radius: 24px;
}
.productive-users h3{
    text-align: center;
    padding-top: 50px;
    font-weight: 700;
    font-size: 38px;
}
.productive-users-div{
    display: flex;
    justify-content: space-evenly;
}

/* Users Review section Style */
.users-review-section{
    max-width: 1140px;
    margin: 0 auto;
}
.users-review-section h1{
    text-align: center;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 42px;
}
.users-review-container{
    display: flex;
    justify-content: space-between;

}
.users-review-div{
    background-color: #FFFFFF;
    padding: 48px 48px 15px ;
    border-radius: 16px;
}
.reviewer{
    display: flex;
    align-items: center;
    gap: 10px;
}
.reviewer div{
    line-height: 4px;
}
.reviewer img{
    width: 40px;
    height: 40px;
    border-radius: 20px;
}
.users-review{
    padding: 20px 0px;
}
.users-review p{
    margin-top: 8px;
}
.users-review h3{
    font-weight: 800;
    font-size: 21px;
}

/* Get in Touch Section Style */
.get-in-touch-container{
    max-width: 1140px;
    margin: 50px auto 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 71px 0 71px;
}
.get-in-touch-title h1{
    font-weight: 700;
    font-size: 97px;
}
.form-div{
    width: 497px;
}
form input{
    margin-bottom: 19px;
    width: 497px;
    border: none;
    border-radius: 10px;
}
form label{
    display: block;
    font-weight: 500;
    font-size: 18px;
}
form .email,.name{
    padding: 20px 32px;
}
form .message{
    /* height: 135px; */
    padding: 20px 32px 70px;
}
form input[placeholder]{
    font-weight: 400;
    font-size: 20px;
}

/* Footer Section Style */
.footer-section{
    width: 100%;
    margin: 0 auto;
    background-color: #FFFFFF;
    text-align: center;

}
.footer-section p{
    margin: 8px 0px 20px;
    color: rgb(137, 135, 161);
}
.footer-section div{
    padding: 113px 0px 113px;
}
.footer-section h1{
    font-weight: 900;
    font-size: 100px;
    margin-bottom: 0px;
    color: #4E47FF;
}
ul li{
    list-style: none;
    display: inline;
    margin-right: 30px;
    color: rgb(137, 135, 161);
}
ul li:hover{
    background-color: rgb(185, 238, 78);
}

/* shared styles */
.inter-normal{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.raleway-primary{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.button{
    background-color: #4E47FF;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    padding: 12px 36px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
.button:hover{
    background-color: yellowgreen;
    transform: scale(1.1);
}
.text-color{
    color: #4E47FF;
}
a{
    text-decoration: none;
}
.nav-title{
    font-weight: 900;
    font-size: 34px;
}
.banner-title{
    font-weight: 700;
    font-size: 65px;
}
.action-left-div h2{
    font-weight: 700;
    font-size: 42px;
    margin-bottom: 0px;
}
.stat{
    font-weight: 700;
    font-size: 80px;
    color: #4E47FF;
    line-height: 0%;
}
.stat-description{
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
}
.review-date{
    color: rgba(179, 179, 179, 1);
    font-weight: 500;
    font-size: small;
}
.reviewer-name{
    color: rgb(141, 139, 139);
    font-weight: 700;
    font-size: 13px;
}
